In [1]:
import pandas as pd

False

NameError: name 'X' is not defined

,capital,strat scalar,HK33_HKD units,HK33_HKD w,FR40_EUR units,FR40_EUR w,JP225_USD units,JP225_USD w,CN50_USD units,CN50_USD w,...,USB30Y_USD w,IN50_USD units,IN50_USD w,nominal,leverage,daily pnl,nominal ret,capital ret,cum ret,drawdown
date,,,,,,,,,,,,,,,,,,,,,
2023-04-26,10068.267708,2,0,0.0,0.048742,0.081803,0.029526,0.170412,0,0,...,0,0.0,0,4952.300041,0.491872,84.288881,0.013987,0.008442,1.006827,-0.039933
2023-04-27,10089.862979,2,0,0.0,0.049129,0.081532,0.031308,0.181807,0,0,...,0,0.0,0,4979.374436,0.493503,21.595271,0.004361,0.002145,1.008986,-0.037873